.DS_Store
Thumbs.db
desktop.ini


.idea/
*.iml
.vscode/


__pycache__/
*.py[cod]
*.pyo

env/
venv/

.pytest_cache/

target/
*.class

project/target/
dist/
*.jar
ivy-cache/

logs/
*.log
*.out
*.tmp
*.swp

kafka-data/
zookeeper-data/

clickhouse-data/

*.parquet
*.avro
*.orc
*.snapshot
metadata/
iceberg_catalog/

.ipynb_checkpoints/

*.key
*.pem
*.crt
.env
credentials.json
secret.properties
