fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
clickhouse-driver
aiokafka
minio
python-dotenv
pydantic
alembic
psycopg2-binary
confluent-kafka
slowapi
python-multipart
passlib
python-jose[cryptography]
pydantic[email]
aiokafka
asyncio
